<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- title%> </title>
    <%- include ('partials/head.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>
    <br>
    <div class="container-fluid  degradado">
      
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4  ">
                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, velit corrupti nemo alias sint officiis deserunt. Ullam minima vitae quasi laboriosam explicabo accusantium odit expedita corrupti, enim iure nam dolores provident minus!</p>
              </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <br>
                    <div class="tab-pane fade show active" id="nav-home " role="tabpanel" aria-labelledby="nav-home-tab">
<br> <br>
                      <fieldset class="scheduler-border2">
                        <legend class="scheduler-border2">  <h6  class="pblackleyend"> <b> Terminos & Condiciones  </b> </h6></legend>
                        <br> <p class="pblack">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Fuga repudiandae blanditiis ipsam sequi quis, quos a voluptate
                            porro expedita? Laboriosam voluptatibus eius nam aperiam exercitationem 
                            expedita repudiandae commodi corporis ipsam.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Fuga repudiandae blanditiis ipsam sequi quis, quos a voluptate
                            porro expedita? Laboriosam voluptatibus eius <br> nam aperiam exercitationem 
                            
                            porro expedita? Laboriosam voluptatibus eius </p>
                    </fieldset>
                    <hr> 
                    <fieldset class="scheduler-border2">
                        <legend class="scheduler-border2">  <h6  class="pblackleyend"> <b> Politicas </b> </h6></legend>
                        <br> <p class="pblack">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Fuga repudiandae blanditiis ipsam sequi quis, quos a voluptate
                            porro expedita? Laboriosam voluptatibus eius nam aperiam exercitationem 
                            expedita repudiandae commodi corporis ipsam.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Fuga repudiandae blanditiis ipsam sequi quis, quos a voluptate
                            porro expedita? Laboriosam voluptatibus eius <br> nam aperiam exercitationem 
                            expedita repudiandae commodi corporis ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Fuga repudiandae blanditiis ipsam sequi quis, quos a voluptate
                            porro expedita? Laboriosam voluptatibus eius </p>
                    </fieldset>
                  
                          
                        </div>
                        </div>
                    </div>
             </div>
</body>
</html>